{% extends "space/base.html" %}

{% load static %}


{% block content %}

<div class="w-full flex h-screen justify-center text-gray-800  bg-purple-50 items-center">
    <div class="border rounded-md p-3 bg-white shadow">
        <span class="w-full flex flex-col justify-center items-center"> 
            <img id="logo" class=" w-24 h-24" src="{% static 'images/memoji.png' %}" />
            <p class="w-full justify-center text-center items-center text-5xl text-purple-700 font-extrabold"> SafeSpace </p>
        </span>
        <div id="lobby-main" class="w-full flex flex-col justify-center items-center">
            <p class="text-xl  p-2 font-bold"> Lobby Lowa </p>
            <span class=" w-full font-medium flex text-lg mx-auto justify-center text-center items-center">
                 A safe space to think out loud, rant, vibe to music and brainstorm
            </span>
            
            <div id="form-container" class="mt-10 flex  w-full flex-grow justify-center items-centerw-2/3 border h-full p-2 rounded-md">

                <form id="form" class="w-full flex flex-col justify-between items-center space-y-3">
                    <input type="text" class="w-full flex-1 border p-2 rounded focus:outline-none" name="space" placeholder="Enter a space name..."/>
                    <input type="text" class="w-full flex-1 border p-2  rounded focus:outline-none" name="name" placeholder="Type in your name..."/>
                    <input type="submit" class="w-full bg-purple-500 hover:scale-105 hover:bg-purple-700 text-white px-2 py-1 rounded-md" value="Join Space"/>
                </form>
        
            </div>    
        </div>
    </div>
    
</div>



<script type="text/javascript"> 
    let form = document.getElementById("form")

    let handleSubmit = async (e) => {

        e.preventDefault()

        let space  = e.target.space.value
        let name = e.target.name.value

        if (space.length < 1){
            space = "Random Rant!!!"
        } else if (name.length < 1) {
            window.open('/', '_self')
        }

        let response = await  fetch(`/get_token?space_name=${space}`)

        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem("UID", UID)
        sessionStorage.setItem("token", token)
        sessionStorage.setItem("space", space)
        sessionStorage.setItem("name", name)

        window.open('/space/', '_self')
    }

    form.addEventListener('submit', handleSubmit)
</script>
{% endblock %}